# Byte-compiled
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.next/

# Data
*.db
*.sqlite

# Logs
*.log
